Source: uucp
Section: core
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7)
XCS-Cross-Host-Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0

Package: cu
Architecture: any
Depends: ${shlibs:Depends}
Description: call up another system
 The  cu  command is used to call up another system and act
 as a dial in terminal.  It can also do simple file
 transfers with no error checking.
 .
 cu is part of the UUCP source but has been split into its
 own package because it can be useful even if you do not do
 uucp.
