#!/usr/bin/make -f

#export DH_VERBOSE=1

export DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
  confflags += --build $(DEB_HOST_GNU_TYPE)
else
  confflags += --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
endif

CFLAGS += -Wall -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

config.status: configure
	dh_testdir
	./configure \
		$(confflags) \
		--prefix=/usr \
		--exec-prefix=/usr \
		--mandir=\$${prefix}/share/man \
		--infodir=\$${prefix}/share/info \
		--with-newconfigdir=/etc/uucp \
		--with-oldconfigdir=/etc/uucp

build-arch:  config.status build-arch-stamp
build-arch-stamp:
	dh_testdir

	$(MAKE) CFLAGS="$(CFLAGS)"
	( cd contrib && \
	  make -f Makefile.uurt CFLAGS="$(CFLAGS)" \
	  	newconfigdir=/etc/uucp )

	touch build-arch-stamp

build: build-arch

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp 

	[ ! -f Makefile ] || $(MAKE) distclean
	rm -f contrib/uurate
	rm -f build debian/contrib/in.uucpd

	dh_clean

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_prep

	dh_installdirs

	make install \
		bindir=`pwd`/debian/tmp/usr/bin \
		sbindir=`pwd`/debian/tmp/usr/sbin \
		newconfigdir=`pwd`/debian/tmp/etc/uucp \
		oldconfigdir=`pwd`/debian/tmp/etc/uucp \
		prefix=`pwd`/debian/tmp/usr \
		exec_prefix=`pwd`/debian/tmp/usr

	mkdir -p `pwd`/debian/tmp/etc/uucp
	install -g root -m 644 debian/etc.uucp/* `pwd`/debian/tmp/etc/uucp
	dh_install -p cu --sourcedir=debian/tmp

binary-indep: build install
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_install -a
	dh_strip -a
	dh_link -a
	dh_compress -a
	dh_fixperms -a
	#
	# Refix ownership and permissions
	#
	chown -R root.root debian/cu
	chown    root.uucp debian/cu/etc/uucp/*

	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
